@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  box-sizing: border-box;
  font-size: 86%;
  scroll-behavior: smooth;
}

body {
  color: #212121;
  background-color: #fff;
  font-family: lxgw wenkai, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.8em;
}
h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: lxgw wenkai, sans-serif;
  font-weight: 600;
  color: #000;
  margin: 2rem 0;
}

p {
  font-size: 1.3rem;
  margin: 1rem 0;
}
small {
  font-size: 70%;
}
a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: all .25s ease-in;
}
li {
  margin: 1rem 0;
  margin-left: 1.6rem;
  font-size: 1.2rem;
}


blockquote {
  font-size: 1.2rem;
  margin: 2rem 0;
  padding: 1rem 0;
  color: #916dd5;
}